<footer id="layout-footer">
    <div>
        <p>
            Hey I'm Suvendu Polley 
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="https://drive.google.com/file/d/1Jhi74kjBvtbSyX8K1472Gh-9ia2cY1a1/view?usp=sharing">Resume</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>