<link rel="stylesheet" href="/css/mainBox.css">

<div class="login-box">
    <img id="logo" src="https://s3-ap-southeast-1.amazonaws.com/letsintern.com/images-employer/804873885.png" alt="">
    <h2>OTP Verification</h2>
    <p style="color: rgb(235, 217, 217);">OTP is sent to <%=countryCode%> <%= currentPhoneNum %> <br>
    <a href="/">Change Phone Number</a></p>
    
    <form action="/checkOTP" method="post">
        <div class="user-box">

            <input type = "text" name = "entered_otp"  maxlength="4" pattern="\d{4}" required/>
            <label>Enter OTP</label>
            

        </div>
    <input style="background-color: #dada35;" type="submit" value="Submit OTP"/>
    </form>

    <p>Didn't receive any code</p>
    <form action="/resendOTP" method="POST">
        <input type="tel" hidden id="phone" name="phone" value="<%currentPhoneNum%>" >
        <select name="country" hidden>
            <option selected value=<%countryCode%> > </option>>
        </select>
        <input style="background-color: #dada35;" type="submit" value="Resend OTP"/>
    </form>
</div>

