<link rel="stylesheet" href="/css/mainBox.css">

<div class="login-box">
    <img style="height: 160px;" width="150px" id="logo" src="https://www.flaticon.com/svg/static/icons/svg/716/716225.svg" alt="">
    <h2>Status</h2>
        <div class="user-box">
            <label>Verification Successful</label><br>
            <h1 style="color: white;">Welcome to AdmitKard</h1>
            <h1>Check out our website here
                <a href="https://www.admitkard.com/">AdmitKard</a>
            </h1>
            

        </div>
</div>
