<link rel="stylesheet" href="/css/SuccessfullVerification.css">

<div class="login-box">
    <h2>Status</h2>
        <div class="user-box">

            <label>Verification Successful</label>

        </div>
</div>
