
<link rel="stylesheet" href="/css/mainBox.css">

<div class="login-box">
    <img style="height: 160px;" width="150px" id="logo" src="https://www.flaticon.com/svg/static/icons/svg/1636/1636054.svg" alt="">
    <h2>Status</h2>
    <div class="user-box">

        <label>Verification Failed</label> <br> <br>
        <a href="/"> Try Again</a>

    </div>
</div>