
<link rel="stylesheet" href="/css/mainBox.css">

<div class="login-box">
    <img id="logo" src="https://s3-ap-southeast-1.amazonaws.com/letsintern.com/images-employer/804873885.png" alt="">
    <h2>Status</h2>
    <div class="user-box">

        <label>Verification Failed</label> <br> <br>
        <a href="/"> Try Again</a>

    </div>
</div>